extends layout

block content
  form(method="post", action="/memos")
    div
      h5 番組名
      input(type="text" name="programName" value=memo.programName)
      
    div
      h5 パーソナリティ
      input(type="text" name="personality" value=memo.personality)
    div
      h5 放送日時
      input(type="text" name="airtime" value=memo.airtime)
    div
      h5 感想
      textarea(name="impression") #{memo.impression}
    button(type="submit") メモを変更する